button.drawerButton {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 9999;
  width: 32px;
  height: 24px;
  border-radius: 0;

  &:hover {
    background-color: transparent;
  }

  > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #41907a;
    transition: opacity 0.15s, transform 0.3s;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  &:global(.open) {
    > span {
      &:nth-of-type(1) {
        transform: translateY(12px) rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-9px) rotate(-225deg);
      }
    }
  }
}
